:root {
    --background: #ebebeb;
    --primary: #333;
    --secondary: #ec1d27;
    --text_primary: ;
    --text_secondary: #000;
    --bg_primary: #F8F8F8;
    --bg_secondary: #EEE;
    --border: #D1D1D1;
    --white: #FFF;
}
